---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import '@fontsource-variable/bricolage-grotesque';



export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Windbase"
  : "Windbase - Visual Builder for TailwindCSS";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <script defer src="https://analytics.monawwar.io/script.js" data-website-id="dafc64f2-7720-4989-b502-b765a14e1652"></script>

    <SEO
      title={makeTitle}
      description="Windbase is an open-source visual builder for TailwindCSS that enables drag-and-drop design and HTML export."
      canonical={canonicalURL}
      twitter={{
        creator: "@windbase",
        site: "@windbase",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Windbase - Visual Builder for TailwindCSS`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Windbase Visual Builder Interface",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
